* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  background-image: linear-gradient(to bottom right, #03f0c8, #214e34);
}

header {
  font-size: 2.5em;
  font-weight: bolder;
  color: black;
  font-family: "Bungee Inline", cursive;
  text-decoration: overline;
}

main {
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
}

#search-features-div {
  position: relative;
  transition: all 500ms ease;
}

#search-input {
  text-align: left;
  border-radius: 8vw;
  background-color: #7fbeab;
  border: 0.5vw solid black;
  height: 8vh;
  width: 88vw;
  font-size: 2em;
  padding-left: 5vw;
  padding-right: 10vw;
}

#search-button {
  position: absolute;
  background: transparent;
  border: none;
  right: 4%;
  top: 25%;
}

#search-button img {
  width: 4vh;
  height: 4vh;
  cursor: pointer;
}

#search-term {
  color: black;
  font-size: 3.5em;
  text-align: center;
  transition: all 500ms ease;
}

.bring-from-left {
  transform: translateX(-125%);
}

.bring-from-right {
  transform: translateX(125%);
}

.def-box-containers {
  cursor: pointer;
  border: none;
  text-align: left;
  width: 80vw;
  background-color: 7fbeab;
  padding: 1vh 2.5vh 1vh 3vh;
  border-radius: 1.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 2em;
  background-color: #7fbeab;
  transition: all 500ms ease;
}

.definitions {
  padding-right: 0.5em;
}

.def-box-containers * {
  background-color: #7fbeab;
}

#get-more {
  cursor: pointer;
  width: auto;
  text-decoration: underline;
  color: black;
  text-align: center;
  font-size: 2em;
  transition: all 500ms ease;
}

#back {
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 500ms ease;
}

#back img {
  width: 4vh;
  height: 4vh;
}

.results {
  background-color: #7fbeab;
  display: flex;
  flex-flow: column wrap;
  border: none;
  text-align: left;
  width: 75vw;
  background-color: white;
  max-height: 50vh;
  border-radius: 1.5em;
  font-size: 2em;
  transition: all 500ms ease;
}

.results p {
  margin-top: 0.2;
  margin-bottom: 0.2em;
  text-align: center;
}

#syn-box,
#ant-box {
  background-color: #7fbeab;
}

#ant-box > p {
  font-style: italic;
}

@media screen and (min-width: 992px) {
  #search-input {
    width: 40vw;
  }

  .def-box-containers {
    width: 60vw;
    cursor: pointer;
  }

  .sky-blue {
    background-color: skyblue;
  }
}
